{% extends 'base.html' %}

{%block title%}side{%endblock title%}


{% block body %}
<html lang="en-us" class="theme-cyan cdc-page-type-content cdc-2020">

<link rel="stylesheet prefetch" href="/static/css/app.min_side_effect.css" />
{% comment %} ----------------------------------------------------------------------------------------------------------- {% endcomment %}
<div class="site-title-image-mobile d-block">
    <div class="container-fluid d-none d-md-block bg-quaternary">
        <div class="container-fluid"><img class="img-fluid" src="/static/photo/cases_rising_banner_1199x184_v5.png"
                alt="Act Now! Wear a mask. Stay 6 feet apart. Avoid crowds." style="visibility: visible;"></div>
    </div>
    <div>
    <img class="img-fluid d-block d-md-none" src="/static/photo/cases_rising_banner_767x167_v5.png" alt="Act Now! Wear a mask. Stay 6 feet apart. Avoid crowds." style="visibility: visible;">
</div> 
{% comment %} ---------------------------------------------------------------------------------------- {% endcomment %}
<div class="container">
    <main class="col-xl-9 order-xl-2" role="main" aria-label="Main Content Area">
        <div class="row visual-element">
            <div class="col">
            </div>
            <div class="section-nav-area">
                <nav role="navigation" aria-label="Section Nav" class="w-100 sticky-top">
                    <!-- Page Title/Section Nav (mobile) -->
                </nav>
            </div>
            <a class="container my-2" class="home-link" href="/index"></span> Back to COVID-19 Home</a>
            <div class="syndicate">
                <h1 id="content" class="open d-none d-lg-block">Possible Side Effects After Getting a COVID-19 Vaccine
                </h1>
                <div class="cdc-2020-mobile-title no-syndicate h1 open d-block d-lg-none d-print-none">Possible Side
                    Effects</div>
            </div>
            <small class="text-muted">Updated Mar.16,2021</small>
            <div class="mb-3 card tp-related-pages fourth-level-nav d-none">

            </div>
            <div class="card-body collapse show" id="collapse_15183560837ef3cf726"></div>
        </div>
        <div class="syndicate">
            <div class="row ">
                <div class="col-md-12 splash-col">

                </div>
                <p></p>
                <p>COVID-19 vaccination will help protect you from getting COVID-19. You may have some side effects,
                    which are normal signs that your body is building protection. These side effects may affect your
                    ability to do daily activities, but they should go away in a few days. Some people have no side
                    effects.</p>
                <h2>Common Side Effects</h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 splash-col">
                <div class="card border-0 rounded-0">
                    <div class="card-header h4 bg-tertiary rounded-0">On the arm where you got the shot:</div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="pr-md-0 col-md-4">
                                <div class="text-center"><img
                                        src="/static/photo/321441-WhatExpectafterVaccinationAnimation_pain.png"
                                        alt="WhatExpectafterVaccinationAnimation_pain"
                                        class="card-img-top img-fluid pb-3 card-img-orig rounded-0"></div>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Pain</li>
                                    <li>Redness</li>
                                    <li>Swelling</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 splash-col">
                <div class="card border-0 rounded-0">
                    <div class="card-header h4 bg-tertiary rounded-0">Throughout the rest of your body:</div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="pr-md-0 col-md-4">
                                <div class="text-center"><img
                                        src="/static/photo/321441-WhatExpectafterVaccinationAnimation_fever.png"
                                        alt="WhatExpectafterVaccinationAnimation_fever"
                                        class="card-img-top img-fluid pb-2 card-img-orig rounded-0"></div>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Tiredness</li>
                                    <li>Headache</li>
                                    <li>Muscle pain</li>
                                    <li>Chills</li>
                                    <li>Fever</li>
                                    <li>Nausea</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 splash-col">
                <h2>Helpful Tips</h2>
                <p><strong>Talk to your doctor about taking over-the-counter medicine, such as ibuprofen, acetaminophen,
                        aspirin</strong><strong>, or antihistamines,</strong><strong> for any pain and discomfort you
                        may experience after getting vaccinated.</strong> You can take these medications to relieve
                    post-vaccination side effects if you have no other medical reasons that prevent you from taking
                    these medications normally.</p>
                <p>It is not recommended you take these medicines before vaccination for the purpose of trying to prevent side effects.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 splash-col">
                <div class="card border-0 rounded-0">
                    <div class="card-header h4 bg-tertiary rounded-0">To reduce pain and discomfort where you got the
                        shot</div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="pr-md-0 col-md-4">
                                <div class="text-center"><img
                                        src="/static/photo/321441-WhatExpectafterVaccinationAnimation_movearm.png"
                                        alt="WhatExpectafterVaccinationAnimation_movearm"
                                        class="card-img-top img-fluid pb-2 card-img-orig rounded-0"></div>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Apply a clean, cool, wet washcloth over the area.</li>
                                    <li>Use or exercise your arm.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 splash-col">
                <div class="card border-0 rounded-0">
                    <div class="card-header h4 bg-tertiary rounded-0">To reduce discomfort from fever</div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="pr-md-0 col-md-4">
                                <div class="text-center"><img
                                        src="/static/photo/321441-WhatExpectafterVaccinationAnimation_drink.png"
                                        alt="WhatExpectafterVaccinationAnimation_drink"
                                        class="card-img-top img-fluid pb-2 card-img-orig rounded-0"></div>
                            </div>
                            <div class="col">
                                <ul>
                                    <li>Drink plenty of fluids.</li>
                                    <li>Dress lightly.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 splash-col">
                <h2>If You Received a Second Shot</h2>
                <p><strong>Side effects after your second shot may be more intense than the ones you experienced after
                        your first shot.</strong> These side effects are normal signs that your body is building
                    protection and should go away within a few days.</p>
                <h2>When to Call the Doctor</h2>
                <div
                    class="w-md-col3 d-block text-center d-sm-inline float-sm-right ml-sm-3 float-md-right ml-md-3 d-none d-lg-inline-block cdc-viewports pt-2">
                    <img src="/static/photo/321441-WhatExpectafterVaccinationAnimation_nurse.png" class="img-fluid mb-3"
                        alt="nurse" title="">
                </div>
                <p>In most cases, discomfort from pain or fever is a normal sign that your body is building protection.
                    Contact your doctor or healthcare provider:</p>
                <ul>
                    <li>If the redness or tenderness where you got the shot gets worse after 24 hours</li>
                    <li>If your side effects are worrying you or do not seem to be going away after a few days</li>
                </ul>
                <div class="card bl-3 bl-amber-t border-0 rounded-0">
                    <div class="card-body bg-amber-q">
                        <p>If you get a COVID-19 vaccine and you think you might be having a severe allergic reaction
                            after leaving the vaccination site, seek immediate medical care by calling 911.</p>
                    </div>
                </div>
                <h2>Remember</h2>
                <ul>
                    <li><strong>Side effects can affect your ability to do daily activities</strong>, but they should go
                        away in a few days.</li>
                    <li><strong>The <span style="font-weight: normal !msorm;">Pfizer-BioNTech COVID-19 Vaccine</span>
                            and <span style="font-weight: normal !msorm;">Moderna COVID-19 Vaccine</span> both need 2
                            shots</strong> in order to get the most protection. You should get the second shot even if
                        you have side effects after the first shot, unless a vaccination provider or your doctor tells
                        you not to get it.
                    </li>
                    <li><strong>You only need 1 shot of the <span style="font-weight: normal !msorm;">Johnson &amp;
                                Johnson’s Janssen (J&amp;J/Janssen) COVID-19 Vaccine</span></strong> to get the most
                        protection. </li>
                    <li><strong>It takes time for your body to build
                                protection after any vaccination.</strong> People are considered fully vaccinated
                        two weeks after their second shot of the Pfizer-BioNTech or Moderna COVID-19 vaccine, or two
                        weeks after the single-dose J&amp;J/Janssen COVID-19 vaccine. You should keep using all the
                        tools available to protect
                            yourself and others&nbsp;until you are fully vaccinated.</li>
                    <li><strong>After you are fully vaccinated for COVID-19, you may be able to start doing some things
                            that you had stopped doing because of the pandemic</strong>.</li>
                    <li><strong>We are still learning how vaccines will affect the spread of COVID-19. After you’ve been
                            fully vaccinated against COVID-19, you should keep taking
                                precautions</strong>&nbsp;in public places like wearing a mask, staying 6 feet apart
                        from others, avoiding crowds and poorly ventilated spaces, and washing your hands often. CDC
                        will continue to update recommendations as we know more.</li>
                </ul>
                <strong><small class="text-muted">#IndiaFightCorona</small></strong>    
                <small class="text-muted">#Source = Cdc.gov</small>

    </main>
                <a class="container my-2" class="home-link" href="/index"></span> Back to COVID-19 Home</a>
</div>

{% endblock body %}